.DS_Store
.editorconfig
.gitattributes
.gitlint
.vscode
.vs
**/*.binlog
**/*.cs
**/*.csproj
**/*.http
**/*.ico
**/*.sh
**/*.sln
**/*.txt
**/*.xml
**/bin/**
**/obj/**
**/Properties/launchSettings.json
Dockerfile
Jenkinsfile
.doppler-ci
yarn.lock
package-lock.json
[eE]ncrypted.[sS]ecret.*
*.csproj.user
*.key
.env.*
.*ignore
*.svg
*.png
build/**
.eslintrc.json
.github/dependabot.yml
coverage/**
