.blockbuilder-content-tools
  .blockbuilder-content-tool
  .blockbuilder-content-tool-name {
  text-transform: none;
  overflow-wrap: inherit;
  text-overflow: unset;
  white-space: unset;
  line-height: 1.5;
}
